<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
  <title>QT HTML/CSS (from Alexey Cherkasov)</title>
  <link rel="stylesheet" href="site/css/main.min.css" />
</head>

<body>
  <main>
    <div class="container">
      <h1 class="main-title">Ты сегодня покормил кота?</h1>
      <ul class="catalog">
  <li class="product">
    <div class="product__item product__item--active">
      <div class="product__header">
  <p class="product__header-text">Сказочное заморское яство</p>
  <p class="product__header-text product__header-text--reject">Котэ не одобряет?</p>
</div>
      <div class="product__body">
        <h2 class="product__title">Нямушка</h2>
        <h3 class="product__subtitle">с фуа-гра</h3>
        <p class="product__desc">
          <strong>10</strong> порций
          <br>мышь в подарок</p>
        <img class="product__img" width="370" heigth="361" src="site/images/cat.png" alt="Кот">
        <div class="product__label">
          <p class="product__label-value">
            <span>0,5</span><br>кг
          </p>
        </div>
      </div>
      <div class="product__item-before"></div>
      <div class="product__item-after"></div>
    </div>
    <p class="product__bottom-text">Чего сидишь? Порадуй котэ,
      <span class="btn-buy">купи</span><span class="color-blue">.</span>
    </p>
  </li>
  <li class="product">
    <div class="product__item product__item--active">
      <div class="product__header">
  <p class="product__header-text">Сказочное заморское яство</p>
  <p class="product__header-text product__header-text--reject">Котэ не одобряет?</p>
</div>
      <div class="product__body">
        <h2 class="product__title">Нямушка</h2>
        <h3 class="product__subtitle">с рыбой</h3>
        <p class="product__desc">
          <strong>40</strong> порций
          <br>
          <strong>2</strong> мыши в подарок</p>
        <img class="product__img" width="370" heigth="361" src="site/images/cat.png" alt="Кот">
        <div class="product__label">
          <p class="product__label-value">
            <span>2</span><br>кг
          </p>
        </div>
      </div>
      <div class="product__item-before"></div>
      <div class="product__item-after"></div>
    </div>
    <p class="product__bottom-text">Головы щучьи с чесноком да свежайшая сёмгушка.</p>
  </li>
  <li class="product product--disabled">
    <div class="product__item">
      <div class="product__header">
  <p class="product__header-text">Сказочное заморское яство</p>
  <p class="product__header-text product__header-text--reject">Котэ не одобряет?</p>
</div>
      <div class="product__body">
        <h2 class="product__title">Нямушка</h2>
        <h3 class="product__subtitle">с курой</h3>
        <p class="product__desc">
          <strong>100</strong> порций
          <br>
          <strong>5</strong> мышей в подарок
          <br>заказчик доволен</p>
        <img class="product__img" width="370" heigth="361" src="site/images/cat.png" alt="Кот">
        <div class="product__label">
          <p class="product__label-value">
            <span>5</span><br>кг
          </p>
        </div>
      </div>
      <div class="product__item-before"></div>
      <div class="product__item-after"></div>
    </div>
    <p class="product__bottom-text">Печалька, с курой закончился.</p>
  </li>
</ul>
    </div>

  </main>
  <script src="site/js/front.min.js"></script>
</body>

</html>