.product {
  position: relative;
  width: 320px;
  overflow: hidden;
  @media (max-width: 1279px) {
    width: 304px;
  }
  @media (max-width: 1023px) {
    width: 320px;
    margin-bottom: 36px;
  }
  @media (max-width: 767px) {
    width: 280px;
  }
  &__bottom-text {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-shadow: 0 1px 0 #000;
    margin-top: 14px;
  }
  &__item {
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      width: 20px;
      height: 20px;
      background-color: transparent;
      z-index: 2;
      transition: border-color .2s ease-in-out;
    }
    &::before {
      left: 0;
      border-left: 4px solid $blue;
      border-bottom: 4px solid $blue;
      border-bottom-left-radius: 12px;
    }
    &::after {
      right: 0;
      border-right: 4px solid $blue;
      border-bottom: 4px solid $blue;
      border-bottom-right-radius: 12px;
    }
  }
  &__item--active {
    cursor: pointer;
    touch-action: manipulation;
  }
  &__item-before,
  &__item-after {
    position: absolute;
    content: '';
    display: block;
  }
  &__item-before {
    top: 9px;
    left: 12px;
    border-left: 4px solid $blue;
    transform: rotate(45deg);
    width: 75px;
    height: 75px;
    background-color: #fff;
    z-index: -1;
    transition: border-color .2s ease-in-out;
  }
  &__item-after {
    bottom: 0;
    height: 4px;
    left: 18px;
    right: 18px;
    background-color: $blue;
    z-index: 2;
    transition: background-color .2s ease-in-out;
  }
  &__label {
    position: absolute;
    right: 11px;
    bottom: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $blue;
    font-size: 0;
    line-height: 73px;
    color: #fff;
    text-align: center;
    z-index: 1;
    transition: background-color .2s ease-in-out;
    @media (max-width: 767px) {
      width: 72px;
      height: 72px;
      line-height: 65px;
    }
  }
  &__label-value {
    display: inline-block;
    vertical-align: bottom;
    font-size: 21px;
    line-height: 22px;
    @media (max-width: 767px) {
      font-size: 19px;
      line-height: 20px;
    }
    span {
      font-size: 42px;
      @media (max-width: 767px) {
        font-size: 36px;
      }
    }
  }
}

.product {
  text-align: right;
  &__header,
  &__body {
    position: relative;
    background-color: #fff;
  }
  &__header {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 275px;
    max-height: 45px;
    overflow: hidden;
    padding-top: 17px;
    padding-bottom: 5px;
    padding-left: 4px;
    border-top: 4px solid $blue;
    border-right: 4px solid $blue;
    border-top-right-radius: 12px;
    transition: border-color .2s ease-in-out;
    @media (max-width: 1279px) {
      width: 259px;
    }
    @media (max-width: 1023px) {
      width: 275px;
    }
    @media (max-width: 767px) {
      width: 235px;
    }
    // For EDGE
    &::after {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: -5px;
      height: 10px;
      width: 100%;
      background-color: #fff;
      z-index: -1;
    }
  }
  &__header-text {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    max-height: 19px;
    overflow: hidden;
    @media (max-width: 767px) {
      font-size: 15px;
      line-height: 18px;
    }
  }
  &__header-text--reject {
    display: none;
    color: #e62e7a;
  }
  &__body {
    text-align: left;
    padding-top: 1px;
    padding-bottom: 290px;
    overflow: hidden;
    padding-left: 45px;
    padding-right: 45px;
    border-right: 4px solid $blue;
    border-left: 4px solid $blue;
    transition: border-color .2s ease-in-out;
    @media (max-width: 767px) {
      padding-bottom: 270px;
    }
  }
}

.product {
  &__title,
  &__subtitle {
    font-weight: 700;
    color: #000000;
  }
  &__title {
    font-size: 48px;
    line-height: 54px;
    margin-left: -3px;
    max-height: 54px;
    overflow: hidden;
    @media (max-width: 767px) {
      font-size: 42px;
      line-height: 48px;
      max-height: 48px;
    }
  }
  &__subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
    max-height: 29px;
    overflow: hidden;
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px;
      max-height: 25px;
    }
  }
  &__desc {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    z-index: 2;
    min-height: 48px;
    max-height: 48px;
    overflow: hidden;
    @media (max-width: 767px) {
      font-size: 13px;
      line-height: 15px;
    }
  }
  &__img {
    position: absolute;
    bottom: -88px;
    left: -28px;
    z-index: 1;
    @media (max-width: 767px) {
      bottom: -98px;
      left: -38px;
    }
  }
}

.product__item--active:hover {
  .product__header {
    border-top-color: $blue-hover;
  }
  .product__header,
  .product__body,
  &::before,
  &::after {
    border-right-color: $blue-hover;
  }
  .product__body,
  .product__item-before,
  &::before,
  &::after {
    border-left-color: $blue-hover;
  }
  .product__item-after,
  .product__label {
    background-color: $blue-hover; 
  }
  &::before,
  &::after {
    border-bottom-color: $blue-hover;
  }
}