/* Media Qieries*/

$desktop: 1279px;
$desktop-container-width: 1210px;

$tablet: 959px;
$tablet-container-width: 580px;

$mobile: 639px;
$mobile-container-width: 280px;

/*=========================================*/

/* Colors */

$blue: #1698d9;
$blue-hover: #2ea8e6;
$pink: #d91667;
$pink-hover: #e62e7a;
$gray: #b3b3b3;

/*=========================================*/
