@charset 'utf-8';

@import "normalize",
"vars",
"fonts",
"scaffolding",
"./blocks/btn-buy",
"./blocks/catalog",
"./blocks/container",
"./blocks/main-title",
"./blocks/product",
"./blocks/product__item--selected",
"./blocks/product--disabled";
